.comment-form {
  flex-basis: 60px;
  min-height: 40px;
  border-top: 2px solid #f2f2f2;
}

input {
  margin: 5px;
  border: none;
  color: black;
  bottom: 1em;
  padding: 0 10px;
  width: 60%;
  height: 50px;
  font-weight: bold;
}

button {
  font-weight: bold;
  background: white;
  border: 0;
  width:30%;
  height: 40px;
  border: 1px solid #66b3ff;
  border-radius: 3px;
  color: #66b3ff;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background: #66b3ff;
  color: white;
}